html {
    overflow-y: scroll;
}
:root {
    --bgcolor: --ctp-latte-base;
    --fontcolor: --ctp-latte-text;
    --linkcolor: --ctp-latte-blue-rgb;
    --visitedcolor: --ctp-latte-mauve;
    --precolor: --ctp-latte-base;
    --prebgcolor: --ctp-latte-text;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bgcolor: --ctp-mocha-base;
        --fontcolor: --ctp-mocha-text;
        --linkcolor: --ctp-mocha-blue;
        --visitedcolor: --ctp-mocha-mauve;
        --precolor: --ctp-mocha-base;
        --prebgcolor: --ctp-mocha-text;
    }
}
body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: 14px/1.5 monospace;
    color: var(--fontcolor);
    background: var(--bgcolor);
}
a:link {
    color: var(--linkcolor);
}
a:visited {
    color: var(--visitedcolor);
}
a:active {
    color: var(--visitedcolor);
}
h1,
h2,
h3 {
    line-height: 1.2;
}
p > code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px;
}
code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px;
}
pre {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 24px;
    overflow-x: auto;
}
article {
    padding: 24px 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}
figure {
    margin: auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
