@import 'colors.css';
html {
    overflow-y: scroll;
}

:root[data-theme=light] {
    --bgcolor: var(--ctp-latte-base);
    --fontcolor: var(--ctp-latte-text);
    --linkcolor: var(--ctp-latte-blue);
    --visitedcolor: var(--ctp-latte-mauve);
    --precolor: var(--ctp-latte-base);
    --prebgcolor: var(--ctp-latte-text);     
}



:root[data-theme=dark] {
    --bgcolor: var(--ctp-mocha-base);
    --fontcolor: var(--ctp-mocha-text);
    --linkcolor: var(--ctp-mocha-blue);
    --visitedcolor: var(--ctp-mocha-mauve);
    --precolor: var(--ctp-mocha-base);
    --prebgcolor: var(--ctp-mocha-text);     
}



body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
    font: 14px/1.5 monospace;
    color: var(--fontcolor);
    background: var(--bgcolor);
}
a:link {
    color: var(--linkcolor);
}
a:visited {
    color: var(--visitedcolor);
}
a:active {
    color: var(--visitedcolor);
}
h1,
h2,
h3 {
    line-height: 1.2;
}
p > code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px;
}
code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px;
}
pre {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 24px;
    overflow-x: auto;
}
article {
    padding: 24px 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}
figure {
    margin: auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
