<!DOCTYPE html>
<html lang="{{ .Site.Language | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{{ if .Params.noindex }}
	<meta name="robots" content="noindex" />
	{{ end }}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="{{ if .Site.Params.author }}{{ .Site.Params.author.name }}{{ else }}{{ range .Site.Author }}{{ . }} {{ end }}{{ end }}">
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary | plainify }}{{ end }}{{ end }}" />
	<meta name="keywords" content="{{ .Site.Params.keywords }}{{ if .Params.tags }}{{ range .Params.tags }}, {{ . }}{{ end }}{{ end }}" />
	<meta name="robots" content="noodp" />
	<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />
	{{ if .Site.Params.PlausibleAnalytics}} 
	<script defer data-domain="{{ .Site.Params.PlausibleAnalytics.Domain }}" src="{{ .Site.Params.PlausibleAnalytics.ScriptSrc}}"></script>
	{{ end}}
	<link rel="canonical" href="{{ .Permalink }}" />
	{{ with resources.Get "css/main.css" }}
		{{ with . | minify | fingerprint}}
			<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" >
		{{end }}
	{{ end }}
	{{ with resources.Get "js/theme.js" }}
		{{ with . | js.Build | minify | fingerprint "sha256"}}
			<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
		{{end}}
	{{ end }}

	{{ range .Site.Params.customCSS }}
		<link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}" >
	{{- end }}
	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
	{{ if .IsPage }}
		<script type="application/ld+json">
		{
			"@context":"https://schema.org",
			"@type": "BlogPosting",
			"headline": {{ .Title }},
			"image": {{"favicon.png" | relURL}},
			"url": {{ .Permalink }},
			"dateCreated": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}",
			"datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}",
			"dateModified": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}",
			"inLanguage": "{{ .Site.Language }}",
			"isFamilyFriendly": "true",
			"copyrightYear": "{{ .PublishDate.Format "2006" }}",
			"copyrightHolder": "{{ .Site.Params.author.name }}",
			"accountablePerson": {
			"@type": "Person",
			"name": "{{ .Site.Params.author.namer }}",
			"url": {{ .Site.BaseURL }}
			},
			"author": {
			"@type": "Person",
			"name": "{{.Site.Params.author.name}}",
			"url": {{ .Site.BaseURL }}
			},
			"creator": {
			"@type": "Person",
			"name": "{{ .Site.Params.author.name }}",
			"url": {{ .Site.BaseURL }}
			},
			"publisher": {
			"@type": "Organization",
			"name": "{{ .Site.Params.author.name }}",
			"url": {{ .Site.BaseURL }},
			"logo": {
				"@type": "ImageObject",
				"url": {{"favicon.png" | relURL}}
			}
			},
			"mainEntityOfPage": "True",
			"articleBody": {{ .Content | safeJS | htmlUnescape | plainify }}
		}
		</script>
		{{ if .Site.Params.MastodonAttribution }}
		<meta name="fediverse:creator" content="{{ .Site.Params.MastodonAttribution }}">
		{{ end }}
		{{ end }}

		{{ if .IsHome }}
		<script type="application/ld+json">
		{
			"@context":"https://schema.org",
			"@type": "WebSite",
			"image": {{"favicon.png" | relURL}},
			"url": {{ .Permalink }},
			"inLanguage": "{{ .Site.Language }}",
			"abstract": "{{ .Site.Params.Description }}",
			"isFamilyFriendly": "true",
			"copyrightHolder": "{{ .Site.Params.author.name }}",
			"accountablePerson": {
			"@type": "Person",
			"name": "{{ .Site.Params.author.name }}",
			"url": {{ .Site.BaseURL }}
			},
			"keywords": {{ .Site.Params }},
			"author": {
			"@type": "Person",
			"name": "{{ .Site.Params.author.name }}",
			"url": {{ .Site.BaseURL }}
			},
			"creator": {
			"@type": "Person",
			"name": "{{ .Site.Params.author.name }}",
			"url": {{ .Site.BaseURL }}
			},
			"publisher": {
			"@type": "Organization",
			"name": "{{ .Site.Params.author.name }}",
			"url": {{ .Site.BaseURL }},
			"logo": {
				"@type": "ImageObject",
				"url": {{"favicon.png" | relURL}}
			}
			},
			"mainEntityOfPage": "True",
			"articleBody": {{ .Content | safeJS | htmlUnescape | plainify }}
		}
		</script>
	{{ end }}

	{{ block "title" . }}
    <title lang="{{ .Site.Language }}">
        {{ if .IsHome }}
            {{ $.Site.Params.HumanTitle }} {{ with $.Site.Title }} — {{ . }} {{ end }}
        {{ else }}
            {{ .Title }} — {{ $.Site.Params.HumanTitle }} {{ with $.Site.Title }} — {{ . }} {{ end }}
        {{ end }}
    </title>
{{ end }}
{{ partial "opengraph.html" . }}
{{with .Site.Params.IndieWeb.Webmentions}}
	{{.URL | safeHTML }}
	{{ with resources.Get "js/webmention.js" }}
		{{ with . | minify | fingerprint "sha256"}}
			<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
		{{end}}
	{{ end }}
{{end}}
{{ partial "favicons.html" . }}

{{ if and hugo.IsMultilingual $.Translations }}
	{{ range $.Translations }}
	{{ if not .Language.Params.Disabled }}
		<link title="{{ .Language }}" hreflang="{{ .Site.Language }}" rel="alternate" href="{{ .Permalink }}">
	{{ end }}
	{{ end }}
{{end}}
</head>

<body {{if .Site.Params.hcard }} class="h-card" {{end}}>
	{{if .Site.Params.hcard}}
		{{ partial "hcard" .}}
	{{end}}
	{{ partial "header" . }}
	{{if and .Site.Params.hcard false}}
	{{ partial "leftSidebar.html" .}}
	{{ end }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>

</html>
