{{ define "main" }}
	<main>
		<article class="h-entry">
			<h1 class="p-name"><a class="u-url" href="{{.Path | absURL}}">{{ .Title }}</a></h1>
			<b><time class="dt-published">
				{{ if .PublishDate }}
					{{ .PublishDate.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}
				{{ else }}
					{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}
				{{ end }}
			</time></b>
		       {{ range .Params.tags }}
		           <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="p-category">{{ . }}</a>
        	       {{ end }}
			<i>{{ .ReadingTime }} minute read</i>
			<div class="e-content">
				{{ .Content }}
			</div>
		</article>
	</main>
	{{ if .Site.Params.Indieweb.Webmentions}}
		<div id="webmentions" page-url="https://dospuntostr.es/"></div>
	{{ end}}
{{ partial "rightSidebar.html" . }}
{{ end }}
