html {
    overflow-y: scroll;
    transition: all 1s ease-in-out;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    height: auto;
}

/* Hugo minifying kinda wrecked importing so I'm hardcoding these here */
:root {
    /*

    --ctp-latte-flamingo: #dd7878;
    --ctp-latte-flamingo-rgb: 221 120 120;
    --ctp-latte-flamingo-hsl: 0.000 59.763% 66.863%;
    --ctp-latte-pink: #ea76cb;
    --ctp-latte-pink-rgb: 234 118 203;
    --ctp-latte-pink-hsl: 316.034 73.418% 69.020%;
    --ctp-latte-red: #d20f39;
    --ctp-latte-red-rgb: 210 15 57;
    --ctp-latte-red-hsl: 347.077 86.667% 44.118%;
    --ctp-latte-maroon: #e64553;
    --ctp-latte-maroon-rgb: 230 69 83;
    --ctp-latte-maroon-hsl: 354.783 76.303% 58.627%;
    --ctp-latte-peach: #fe640b;
    --ctp-latte-peach-rgb: 254 100 11;
    --ctp-latte-peach-hsl: 21.975 99.184% 51.961%;
    --ctp-latte-yellow: #df8e1d;
    --ctp-latte-yellow-rgb: 223 142 29;
    --ctp-latte-yellow-hsl: 34.948 76.984% 49.412%;
    --ctp-latte-green: #40a02b;
    --ctp-latte-green-rgb: 64 160 43;
    --ctp-latte-green-hsl: 109.231 57.635% 39.804%;
    --ctp-latte-teal: #179299;
    --ctp-latte-teal-rgb: 23 146 153;
    --ctp-latte-teal-hsl: 183.231 73.864% 34.510%;
    --ctp-latte-sky: #04a5e5;
    --ctp-latte-sky-rgb: 4 165 229;
    --ctp-latte-sky-hsl: 197.067 96.567% 45.686%;
    --ctp-latte-sapphire: #209fb5;
    --ctp-latte-sapphire-rgb: 32 159 181;
    --ctp-latte-sapphire-hsl: 188.859 69.953% 41.765%;
    --ctp-latte-lavender: #7287fd;
    --ctp-latte-lavender-rgb: 114 135 253;
    --ctp-latte-lavender-hsl: 230.935 97.203% 71.961%;
    */
    --ctp-latte-rosewater: #dc8a78;
    --ctp-latte-rosewater-rgb: 220 138 120;
    --ctp-latte-rosewater-hsl: 10.800 58.824% 66.667%;
    --ctp-latte-mauve: #8839ef;
    --ctp-latte-mauve-rgb: 136 57 239;
    --ctp-latte-mauve-hsl: 266.044 85.047% 58.039%;
    --ctp-latte-blue: #1e66f5;
    --ctp-latte-blue-rgb: 30 102 245;
    --ctp-latte-blue-hsl: 219.907 91.489% 53.922%;
    --ctp-latte-text: #4c4f69;
    --ctp-latte-text-rgb: 76 79 105;
    --ctp-latte-text-hsl: 233.793 16.022% 35.490%;
    --ctp-latte-subtext1: #5c5f77;
    --ctp-latte-subtext1-rgb: 92 95 119;
    --ctp-latte-subtext1-hsl: 233.333 12.796% 41.373%;
    --ctp-latte-subtext0: #6c6f85;
    --ctp-latte-subtext0-rgb: 108 111 133;
    --ctp-latte-subtext0-hsl: 232.800 10.373% 47.255%;
    --ctp-latte-overlay2: #7c7f93;
    --ctp-latte-overlay2-rgb: 124 127 147;
    --ctp-latte-overlay2-hsl: 232.174 9.623% 53.137%;
    --ctp-latte-overlay1: #8c8fa1;
    --ctp-latte-overlay1-rgb: 140 143 161;
    --ctp-latte-overlay1-hsl: 231.429 10.048% 59.020%;
    --ctp-latte-overlay0: #9ca0b0;
    --ctp-latte-overlay0-rgb: 156 160 176;
    --ctp-latte-overlay0-hsl: 228.000 11.236% 65.098%;
    --ctp-latte-surface2: #acb0be;
    --ctp-latte-surface2-rgb: 172 176 190;
    --ctp-latte-surface2-hsl: 226.667 12.162% 70.980%;
    --ctp-latte-surface1: #bcc0cc;
    --ctp-latte-surface1-rgb: 188 192 204;
    --ctp-latte-surface1-hsl: 225.000 13.559% 76.863%;
    --ctp-latte-surface0: #ccd0da;
    --ctp-latte-surface0-rgb: 204 208 218;
    --ctp-latte-surface0-hsl: 222.857 15.909% 82.745%;
    --ctp-latte-base: #eff1f5;
    --ctp-latte-base-rgb: 239 241 245;
    --ctp-latte-base-hsl: 220.000 23.077% 94.902%;
    --ctp-latte-mantle: #e6e9ef;
    --ctp-latte-mantle-rgb: 230 233 239;
    --ctp-latte-mantle-hsl: 220.000 21.951% 91.961%;
    --ctp-latte-crust: #dce0e8;
    --ctp-latte-crust-rgb: 220 224 232;
    --ctp-latte-crust-hsl: 220.000 20.690% 88.627%;
    /*

    --ctp-mocha-flamingo: #f2cdcd;
    --ctp-mocha-flamingo-rgb: 242 205 205;
    --ctp-mocha-flamingo-hsl: 0.000 58.730% 87.647%;
    --ctp-mocha-pink: #f5c2e7;
    --ctp-mocha-pink-rgb: 245 194 231;
    --ctp-mocha-pink-hsl: 316.471 71.831% 86.078%;
    --ctp-mocha-red: #f38ba8;
    --ctp-mocha-red-rgb: 243 139 168;
    --ctp-mocha-red-hsl: 343.269 81.250% 74.902%;
    --ctp-mocha-maroon: #eba0ac;
    --ctp-mocha-maroon-rgb: 235 160 172;
    --ctp-mocha-maroon-hsl: 350.400 65.217% 77.451%;
    --ctp-mocha-peach: #fab387;
    --ctp-mocha-peach-rgb: 250 179 135;
    --ctp-mocha-peach-hsl: 22.957 92.000% 75.490%;
    --ctp-mocha-yellow: #f9e2af;
    --ctp-mocha-yellow-rgb: 249 226 175;
    --ctp-mocha-yellow-hsl: 41.351 86.047% 83.137%;
    --ctp-mocha-green: #a6e3a1;
    --ctp-mocha-green-rgb: 166 227 161;
    --ctp-mocha-green-hsl: 115.455 54.098% 76.078%;
    --ctp-mocha-teal: #94e2d5;
    --ctp-mocha-teal-rgb: 148 226 213;
    --ctp-mocha-teal-hsl: 170.000 57.353% 73.333%;
    --ctp-mocha-sky: #89dceb;
    --ctp-mocha-sky-rgb: 137 220 235;
    --ctp-mocha-sky-hsl: 189.184 71.014% 72.941%;
    --ctp-mocha-sapphire: #74c7ec;
    --ctp-mocha-sapphire-rgb: 116 199 236;
    --ctp-mocha-sapphire-hsl: 198.500 75.949% 69.020%;
    --ctp-mocha-lavender: #b4befe;
    --ctp-mocha-lavender-rgb: 180 190 254;
    --ctp-mocha-lavender-hsl: 231.892 97.368% 85.098%;
    */
    --ctp-mocha-rosewater: #f5e0dc;
    --ctp-mocha-rosewater-rgb: 245 224 220;
    --ctp-mocha-rosewater-hsl: 9.600 55.556% 91.176%;
    --ctp-mocha-mauve: #cba6f7;
    --ctp-mocha-mauve-rgb: 203 166 247;
    --ctp-mocha-mauve-hsl: 267.407 83.505% 80.980%;
    --ctp-mocha-blue: #89b4fa;
    --ctp-mocha-blue-rgb: 137 180 250;
    --ctp-mocha-blue-hsl: 217.168 91.870% 75.882%;
    --ctp-mocha-text: #cdd6f4;
    --ctp-mocha-text-rgb: 205 214 244;
    --ctp-mocha-text-hsl: 226.154 63.934% 88.039%;
    --ctp-mocha-subtext1: #bac2de;
    --ctp-mocha-subtext1-rgb: 186 194 222;
    --ctp-mocha-subtext1-hsl: 226.667 35.294% 80.000%;
    --ctp-mocha-subtext0: #a6adc8;
    --ctp-mocha-subtext0-rgb: 166 173 200;
    --ctp-mocha-subtext0-hsl: 227.647 23.611% 71.765%;
    --ctp-mocha-overlay2: #9399b2;
    --ctp-mocha-overlay2-rgb: 147 153 178;
    --ctp-mocha-overlay2-hsl: 228.387 16.757% 63.725%;
    --ctp-mocha-overlay1: #7f849c;
    --ctp-mocha-overlay1-rgb: 127 132 156;
    --ctp-mocha-overlay1-hsl: 229.655 12.775% 55.490%;
    --ctp-mocha-overlay0: #6c7086;
    --ctp-mocha-overlay0-rgb: 108 112 134;
    --ctp-mocha-overlay0-hsl: 230.769 10.744% 47.451%;
    --ctp-mocha-surface2: #585b70;
    --ctp-mocha-surface2-rgb: 88 91 112;
    --ctp-mocha-surface2-hsl: 232.500 12.000% 39.216%;
    --ctp-mocha-surface1: #45475a;
    --ctp-mocha-surface1-rgb: 69 71 90;
    --ctp-mocha-surface1-hsl: 234.286 13.208% 31.176%;
    --ctp-mocha-surface0: #313244;
    --ctp-mocha-surface0-rgb: 49 50 68;
    --ctp-mocha-surface0-hsl: 236.842 16.239% 22.941%;
    --ctp-mocha-base: #1e1e2e;
    --ctp-mocha-base-rgb: 30 30 46;
    --ctp-mocha-base-hsl: 240.000 21.053% 14.902%;
    --ctp-mocha-mantle: #181825;
    --ctp-mocha-mantle-rgb: 24 24 37;
    --ctp-mocha-mantle-hsl: 240.000 21.311% 11.961%;
    --ctp-mocha-crust: #11111b;
    --ctp-mocha-crust-rgb: 17 17 27;
    --ctp-mocha-crust-hsl: 240.000 22.727% 8.627%;

  }

[data-theme=light] {
    --bgcolor: var(--ctp-latte-base);
    --fontcolor: var(--ctp-latte-text);
    --linkcolor: var(--ctp-latte-blue);
    --visitedcolor: var(--ctp-latte-mauve);
    --precolor: var(--ctp-latte-base);
    --prebgcolor: var(--ctp-latte-text);  
    --subtitlecolor: var(--ctp-latte-subtext0);
    --figcolor: var(--ctp-latte-subtext1);   
    --selectioncolor: color-mix(in srgb, var(--ctp-latte-overlay2), transparent 70%);
    --caretcolor: var(--ctp-latte-rosewater);
}



[data-theme=dark] {
    --bgcolor: var(--ctp-mocha-base);
    --fontcolor: var(--ctp-mocha-text);
    --linkcolor: var(--ctp-mocha-blue);
    --visitedcolor: var(--ctp-mocha-mauve);
    --precolor: var(--ctp-mocha-base);
    --prebgcolor: var(--ctp-mocha-text);     
    --subtitlecolor: var(--ctp-mocha-subtext0);
    --figcolor: var(--ctp-mocha-subtext1);   
    --selectioncolor: color-mix(in srgb, var(--ctp-mocha-overlay2), transparent 70%);
    --caretcolor: var(--ctp-mocha-rosewater);
}



body {
    position: relative;
    max-width: 800px;
    min-height: 100%;
    height: auto;
    margin: 40px auto;
    padding: 0 10px;
    font: 16px/1.4 monospace;
    font-weight: 550;   
    color: var(--fontcolor);
    background: var(--bgcolor);
    caret-color: var(--caretcolor)
    /*
    background-image: linear-gradient(color-mix(in srgb, var(--bgcolor), transparent 10%), color-mix(in srgb, var(--bgcolor), transparent 10%)), url('/images/bg-desktop.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    */
}

::selection {
    background-color: var(--selectioncolor)
}

button {
    background: var(--bgcolor);
    color: var(--fontcolor);
    border: 1px solid var(--fontcolor);
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}
a:link {
    color: var(--linkcolor);
}
a:visited {
    color: var(--visitedcolor);
}
a:active {
    color: var(--visitedcolor);
}
h1,
h2,
h3 {
    line-height: 1.2;
}
h2, h3, h4{
    color: var(--subtitlecolor);
}
p > code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px;
}
code {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 2px;
}
pre {
    color: var(--precolor);
    background: var(--prebgcolor);
    padding: 24px;
    overflow-x: auto;
}
article {
    padding: 24px 0;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
figcaption {
    color: var(--figcolor);
    font: 12px/1.5 monospace;
    text-align: center;
}
figure {
    margin: auto;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

aside {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    margin: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (orientation: landscape) and (max-width: 1200px)  {
    aside {
        width: 80px;
        margin: 20px;
    }
    aside ul {
        margin: 0px;
        padding: 0px;
    }
    aside li {
        margin: 5px;
        padding: 0px;
    }
}

@media (orientation: landscape) and (max-width: 1000px)  {
    aside {
        display: none;
        
    }

}


@media (orientation: portrait) {
    aside {
        display: none;
        
    }
}

#webmentions img { max-height: 1.2em; margin-right: -1em; }
#webmentions {
    margin: 0;
    position: relative;
    z-index: 100;
    line-height: 1.2em;
}

#webmentions .comments {
    max-height: 20em;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 80%;
}

#webmentions h2 {
    font-size: medium;
    margin: 0;
    padding: 2px;
    background: var(--subtitlecolor);
}

#webmentions .reacts img {
    margin: 3px -1ex 1px 0;
}

#webmentions img.missing {
    background: var(--bgcolor);
    border: dashed var(--textcolor) 1px;
}

#webmentions ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
}

#webmentions li {
    text-indent: -1em;
    padding-left: 1em;
}

#webmentions a.reaction {
    position: relative;
    text-decoration: none;
    text-shadow: 0px 0px 3px var(--bgcolor);
    margin-right: 0;
    letter-spacing: -1ex;
    margin-right: 1ex;
}

#webmentions a.reaction img {
    max-height: 1.3em;
    width: auto;
    margin-right: -1ex;
    border-radius: 25%;
}

#webmentions a.reaction sub {
    font-size: 50%;
}

#webmentions .comments li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#webmentions .comments li .text {
    color: var(--fontcolor);
    font-style: italic;
    text-decoration: none;
}

#webmentions .comments li .name {
    color: var(--precolor);
}

@view-transition {
    navigation: auto;
}

.invisible {
    display: none !important;
    height: 0px !important;
    width: 0px !important;
}

hr {
    border: none;
    border-top: 1px double var(--fontcolor);
  }
  


#progress-bar-percentages {
    display: grid;
    position: sticky; 
    top: 0; 
    left: 0; 
    padding-top: 0.25rem; 
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    font-size: 0.75rem;
    line-height: 1rem; 
}

#progress-bar-main {
    position: sticky; 
    left: 0; 
    top: 1rem; 
    width: 100%; 
    height: 1rem; 
    background-color:color-mix(in srgb,  var(--linkcolor), transparent 50%);
    z-index: -20 !important;
}

#progress-bar-backdrop {
    position: sticky; 
    left: 0; 
    top: 1rem; 
    width: 100%; 
    height: 1rem; 
    background-color: transparent;
    z-index: -20;
    border: 1px solid var(--fontcolor);
}


#progress-bar-container {
    position: absolute; 
    top: 50px; 
    left: 0; 
    right: 0;
    bottom: 20%;
    z-index: -10;
    background-image: linear-gradient(to bottom left, var(--bgcolor) 50%, transparent 50%); 
    background-color: transparent; 
}