<footer>
	<p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}"><b>{{ if .Site.Copyright }}{{ .Site.Copyright }}{{ else }}{{ .Site.Title }}{{ end }}</b></a>.
	{{- range sort .Site.Menus.footer ".Weight" }}
	<a href="{{ .URL }}" {{if .Params.Personal}}  rel="me" class="u-url" {{ end }}><b>{{ .Name }}</b></a>.
	{{- end }}
	{{ with .OutputFormats.Get "RSS" -}}
		<a href="{{.Permalink}}">rss</a>.
	{{- end }}
	</p>
	{{with .Site.Params.Webrings}}
	<p style="margin-left: auto; margin-right: auto;">
		{{range .}}
			{{ .html | safeHTML}}
		{{end}}
	</p>
	{{end}}
	
</footer>
