{{ define "main" }}
	<main class="h-feed">
		{{ $listtitle := .Title }}
		{{ if or .Title .Content }}
		<div>
			{{ with .Title }}<h1 class="p-name">{{ . }}</h1>{{ end }}
			{{ with .Content }}<div>{{ . }}</div>{{ end }}
		</div>
		{{ end }}
		 {{ range .Paginator.Pages.GroupByParam "Type"}}
        <h1>{{ .Key | title }}</h1>
		<ul>
            {{ range .Pages }}
		    <li class="h-entry">
		        <div class="post-title">
				{{ if eq $listtitle "Posts" }}
				    {{ .Date.Format "2006-01-02" }} <a href="{{ .RelPermalink }}" class="p-name u-url">{{.Title }}</a>
				{{ else }}
				    <a href="{{ .RelPermalink }}" class="p-name u-url">{{.Title }}</a>
				{{ end }}
		        </div>
		    </li>
            {{end}}
		    
		</ul>
        {{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ end }}
